.product_item-content {
    height: 340px;
    width: 800px;
    overflow-y: auto;
    margin-right: 20px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}

.table_product thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ff0000;
    color: #dddddd;
}

tr {
    text-align: center;
    width: 80px;
}

td input {
    width: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.cart_form-product {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cart_form-product-order {
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.cart_form-product-order_info {
    display: flex;
    margin: 20px;
}

.product_cost {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-right: 120px;
}

.product_value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #898989;
}

.btn_pay {
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #ff0000;
    border-radius: 5px;
    color: #dddddd;
}

.group_btn {
    margin: 50px 0 50px 160px;
}

.group_btn-item {
    padding: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ff0000;
    border-radius: 5px;
    color: #dddddd;
}
.cart_list-item{
    height: 140px;
    width: 1280px;
    overflow-y: auto;
}
.cart_list {
    margin: 15px 100px 30px 100px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.4);
}
.table_2{
    height: 100px;
    width: 1280px;
}
.table_2 thead th {
    background-color: #ff0000;
    color: #dddddd;
}
.table_2 tbody td {
    height: 40px;
}
.cart_list-title {
    font-family: Arial, Helvetica, sans-serif;
}

.cart_list-filler {
    margin: 10px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.input_date {
    margin-right: 20px;
    font-size: 15px;
}

.cart_list-filler button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-right: 20px;
    background-color: #ff0000;
    color: #dddddd;
    border-radius: 5px;
}

.btn_see-more {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-right: 20px;
    background-color: #ff0000;
    color: #dddddd;
    border-radius: 5px;
}

a {
    color: #ff0000;
}

/* bfvjbjhvdbvjdbfvhjdbfbvbdjdfh */
.table_product {
    width: 100%;
    height: 200px;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
    .cart_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .cart_form-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .group_btn {
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .product_item-content {
        height: 300px;
        width: 350px;
        overflow-y: auto;
    }
    .cart_list-filler{
        display: flex;
        flex-direction: column;
        margin: 20px;
        text-align: left;
    }
    .input_date{
        margin: 10px 0 10px 0;
    }
    .filler{
        width: 60px;
        margin: 5px 0 15px 0;
    }
    .refresh{
        width: 85px;
    }
    .cart_list-item{
        height: 177px;
        width: 340px;
        overflow-y: scroll;
    }
    .table_2{
        height: 120px;
        width: 700px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1023px){
    .cart_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .cart_form-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .group_btn {
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .product_item-content {
        height: 300px;
        width: 600px;
        overflow-y: auto;
    }
    .cart_list-filler{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
    }
    .input_date{
        width: 200px;
        margin: 10px 0 10px 0;
    }
    .filler{
        width: 60px;
        margin: 5px 0 15px 0;
    }
    .refresh{
        width: 85px;
    }
    .cart_list-item{
        height: 177px;
        width: 600px;
        overflow-y: scroll;
    }
    .table_2{
        height: 120px;
        width: 700px;
    }
}