.filter {
  background-color: bisque;
  width: auto;
  height: 50px;
}

.col-Filter {
  margin-top: 5px;
}

.colProduct {
  margin-top: 10px;
}

.btn-filter-label {
  background-color: #DB4444;
  color: white;
  border: 1px solid black;
  /* Màu và độ dày của viền */
}

.form-select {
  width: 100%;
}

.select-filter-type {
  border: 1px solid black;
  /* Màu và độ dày của viền */

}

.select-filter-sex {
  border: 1px solid black;
  /* Màu và độ dày của viền */
  width: 100%;
}

.select-filter-size {
  border: 1px solid black;
  /* Màu và độ dày của viền */
  width: 100%;
}

.slider-range {
  width: 90%;
  margin: 0 auto;
  color: #DB4444;
}

/* .btn-filter-price{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    line-height: 10px;
    padding-left: 6px;
    color: black;
  
} */

.dropdown-toggle {
  width: 100%;
  border: 1px solid black;
  /* Màu và độ dày của viền */
  padding-left: 0px;

}

.dropdown-toggle.show {
  background-color: #DB4444;
}

.dropdown-toggle {
  background-color: white;
  color: black;
}

.dropdown-toggle:hover {
  background-color: #DB4444;
  color: white;
}

/* .btn-filter-price:hover {
    background-color: red;
    color: white;
} */

.btn-outline-secondary {
  color: black;
  border: 1px solid black;
  /* Màu và độ dày của viền */
}

.filter-sale .btn-check:checked+.btn.btn-outline-secondary {
  background-color: #DB4444;
  color: white;
}





.div-pagination {
  display: flex;
  justify-content: center;
}

.row-pagination {
  margin-top: 50px;
}

/* Đặt màu nền đỏ cho phần tử .active */
.pagination .page-item.active .page-link {
  background-color: #DB4444;
  color: white;
  /* Màu chữ trắng */
}

.page-link {
  color: black;
}

.row-tag {
  margin-top: 10px;
}



.btn-filter-hidden {
  color: black;
  width: 120px;
  border-color: black;

}

/* .btn-filter-hidden:hover {
  color: white;
} */
.filter-hidden {
  margin-top: 10px;
  margin-left: 10px;

  width: 200px;
}


.dropdown-hidden {
  display: none;
  margin-top: 20px;
}

.select-filter-sort {
  width: 220px;
  float: right;
  border: 1px solid black;
  /* Màu và độ dày của viền */
  /* margin-left: 20px; */
}

@media (max-width: 768px) {
  .row-filter {
    display: none;
  }

  .h5-filter {
    display: none;
  }

  .dropdown-hidden {
    display: block;
  }

  /* .select-filter-sort{
  width: 160px;
} */

}

@media (max-width: 377px) {


  .select-filter-sort {
    float: left;
    margin-top: 10px;
  }

}